<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- --------------------------------------------------- -->
    <!-- FAVICONS                                            -->
    <!-- --------------------------------------------------- -->

  
    <link rel="apple-touch-icon" sizes="180x180" href="https://drive.google.com/uc?id=1gFhaQNu45nbh9wBItKEP231P6SFbX_Qf&export">
    <link rel="icon" type="image/png" sizes="32x32" href="https://drive.google.com/uc?id=1M36Ua_pbN3CztVrFdrRQv3td8XDn5eTk&export">
    <link rel="icon" type="image/png" sizes="16x16" href="https://drive.google.com/uc?id=15WtsxtC8U__g2gDAsaEZga__oCeqQvCP&export">

    <title>Regex - Password</title>
</head>
<body>
    
    <h4><mark>Special password regex description ( complex topic )</mark></h4>

    <p>Regular Expression can be a very complex topic if u have more conditions to check. So 
        it costs time to learn step by step complex group structures to make your own easy regex.
    </p>

    <p>This example shows u how u can make an password regex to check that the user has 
        minimum an low , big , number and special character in the string and this should be minium of 8 characters.
    </p>

    <mark>solution:</mark> <br>

    <br>"^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"

    <br><br><br>
    confused ? No Problem, lets look more on details: <br><br>


    <ul>
        <li><b>"^...$"</b> - this means u concentrate on special string which starts by ^ and ends by $ , the 
        " - character stands only for string to use for pattern <br><br> </li>

        <li>
            <b>(?=.*[a-z])</b> - ?= starts with condition and .* means that the point say every character and * to it say one 
            or more of them, so minimum one character of small a-z <br><br>
            <b>(?=.*[A-Z])</b> - same meaning only for big alphabet characters <br>
            <b>(?=.*\d)</b> - same meaning only for numbers of 0 - 9 <br>
            <b>(?=.*[@$!%*?&])</b> - same meaning only for these special characters  <br><br>
        </li>

        <li><b>[A-Za-z\d@$!%*?&]{8,}</b> - this means that our string stands only with these characters and minimum 8 characters </li>
    </ul>


    <br>
    <br>

    You like to learn more about regex ? Then look here on YouTube:
    <a href="https://www.youtube.com/watch?v=rhzKDrUiJVk" target="_blank">Youtube Regex in 20Min. </a>


</body>
</html>