:root {
    font-size: 12px;
    background-color: lightgray;
}

// Define Basic Page Layout

header, footer {
    
    width: 100%;
    background-color: black;
    color: white;
    margin: 0px;
}

main {
    margin: 0px;
}



