<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- --------------------------------------------------- -->
    <!-- FAVICONS                                            -->
    <!-- --------------------------------------------------- -->

  
    <link rel="apple-touch-icon" sizes="180x180" href="https://drive.google.com/uc?id=1gFhaQNu45nbh9wBItKEP231P6SFbX_Qf&export">
    <link rel="icon" type="image/png" sizes="32x32" href="https://drive.google.com/uc?id=1M36Ua_pbN3CztVrFdrRQv3td8XDn5eTk&export">
    <link rel="icon" type="image/png" sizes="16x16" href="https://drive.google.com/uc?id=15WtsxtC8U__g2gDAsaEZga__oCeqQvCP&export">



    <title>HTML - Multimedia Audio </title>
</head>

<body>

    <h4>Listen to mp3 - seperate ways by journey </h4>
    <!-- autoplay muted -->
    <audio controls title="seperate ways">
        <source src="https://drive.google.com/uc?id=1hUD2CZ9UJSvm9ShGBmkHsfQ3S_y30sq9&export" type="audio/mpeg">
        Your browser does not support the mp3 audio.
    </audio>  

    <br><br>

    
    <img src="https://drive.google.com/uc?id=1O5JBSiNC3k-Xgf518bATQttlc4Ot8V3r&export" width="300" height="300" alt="img">


</body>




</html>