<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- --------------------------------------------------- -->
    <!-- FAVICONS                                            -->
    <!-- --------------------------------------------------- -->

  
    <link rel="apple-touch-icon" sizes="180x180" href="https://drive.google.com/uc?id=1gFhaQNu45nbh9wBItKEP231P6SFbX_Qf&export">
    <link rel="icon" type="image/png" sizes="32x32" href="https://drive.google.com/uc?id=1M36Ua_pbN3CztVrFdrRQv3td8XDn5eTk&export">
    <link rel="icon" type="image/png" sizes="16x16" href="https://drive.google.com/uc?id=15WtsxtC8U__g2gDAsaEZga__oCeqQvCP&export">



    <title>HTML - Multimedia Images </title>
</head>

<body>

    <table border="1">


        <tr>
            <th> img file type </th>
            <th> maximum img quality size </th>
            <th> oversize img </th>
            <th> img smaller x 2 </th>
            <th> img smaller x 3 </th>
            <th> img smaller x 4 </th>
        </tr>

       
        <tr>
            <td> .png ( transparent )</td>

            <td> <mark>0,227 - MB </mark> - 1050px * 1000px ( Original Img Size )
                <img src="https://drive.google.com/uc?id=1VHk8ush8BoHN8rzESCirp6lln_0ynpUI&export" alt="img">   
            </td>

            <td> 1250px * 1200px ( Oversize )  
                <img src="https://drive.google.com/uc?id=1VHk8ush8BoHN8rzESCirp6lln_0ynpUI&export" width="1250" height="1200" alt="img">       
            </td>

            <td> 700px * 650px ( x 2 smaller  )  
                <img src="https://drive.google.com/uc?id=1VHk8ush8BoHN8rzESCirp6lln_0ynpUI&export" width="700" height="650" alt="img">       
            </td>

            <td>  500px * 450px ( x 3 smaller  )  
                <img src="https://drive.google.com/uc?id=1VHk8ush8BoHN8rzESCirp6lln_0ynpUI&export" width="500" height="450" alt="img">       
            </td>

            <td> 300px * 250px ( x 3 smaller  )  
                <img src="https://drive.google.com/uc?id=1VHk8ush8BoHN8rzESCirp6lln_0ynpUI&export" width="300" height="250" alt="img">       
            </td>

        </tr>
        
        <tr>
            <td> .webp ( google mobile format )</td>

            <td> <mark>0,093 - MB </mark> - 1050px * 1000px ( Original Img Size )
                <img src="https://drive.google.com/uc?id=105q2rbYUkB4hD32G99PgEBYdYYcCwQ5i&export" alt="img">   
            </td>

            <td> 1250px * 1200px ( Oversize )  
                <img src="https://drive.google.com/uc?id=105q2rbYUkB4hD32G99PgEBYdYYcCwQ5i&export" width="1250" height="1200" alt="img">       
            </td>

            <td> 700px * 650px ( x 2 smaller  )  
                <img src="https://drive.google.com/uc?id=105q2rbYUkB4hD32G99PgEBYdYYcCwQ5i&export" width="700" height="650" alt="img">       
            </td>

            <td>  500px * 450px ( x 3 smaller  )  
                <img src="https://drive.google.com/uc?id=105q2rbYUkB4hD32G99PgEBYdYYcCwQ5i&export" width="500" height="450" alt="img">       
            </td>

            <td> 300px * 250px ( x 3 smaller  )  
                <img src="https://drive.google.com/uc?id=105q2rbYUkB4hD32G99PgEBYdYYcCwQ5i&export" width="300" height="250" alt="img">       
            </td>

        </tr>
     

        <tr>
            <td> .svg ( vector grafik / not natrually images )</td>

            <td> <mark>0,112 - MB </mark> - auto * auto ( Original Img Size )
                <img src="https://drive.google.com/uc?id=1jqd-eIZvrH_8-yaPLCZT0RluMjLVG_8G&export" alt="img">   
            </td>

            <td> 1250px * 1200px ( Oversize )  
                <img src="https://drive.google.com/uc?id=1jqd-eIZvrH_8-yaPLCZT0RluMjLVG_8G&export" width="1250" height="1200" alt="img">       
            </td>

            <td> 700px * 650px ( x 2 smaller  )  
                <img src="https://drive.google.com/uc?id=1jqd-eIZvrH_8-yaPLCZT0RluMjLVG_8G&export" width="700" height="650" alt="img">       
            </td>

            <td>  500px * 450px ( x 3 smaller  )  
                <img src="https://drive.google.com/uc?id=1jqd-eIZvrH_8-yaPLCZT0RluMjLVG_8G&export" width="500" height="450" alt="img">       
            </td>

            <td> 300px * 250px ( x 3 smaller  )  
                <img src="https://drive.google.com/uc?id=1jqd-eIZvrH_8-yaPLCZT0RluMjLVG_8G&export" width="300" height="250" alt="img">       
            </td>

        </tr>

    </table>
    
</body>




</html>