<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- --------------------------------------------------- -->
    <!-- FAVICONS                                            -->
    <!-- --------------------------------------------------- -->

  
    <link rel="apple-touch-icon" sizes="180x180" href="https://drive.google.com/uc?id=1gFhaQNu45nbh9wBItKEP231P6SFbX_Qf&export">
    <link rel="icon" type="image/png" sizes="32x32" href="https://drive.google.com/uc?id=1M36Ua_pbN3CztVrFdrRQv3td8XDn5eTk&export">
    <link rel="icon" type="image/png" sizes="16x16" href="https://drive.google.com/uc?id=15WtsxtC8U__g2gDAsaEZga__oCeqQvCP&export">



    <title>HTML - Multimedia Videos </title>
</head>

<body>

    <table border="1">


        <tr>
            <th> video file type </th>
            <th> maximum img quality size </th>
            <th> oversize img </th>
            <th> img smaller x 2 </th>
            <th> img smaller x 3 </th>
        </tr>

       
        <tr>
            <td> .mp4 </td>

            <td> <mark>50.8 - MB </mark> - 1920px * 1080px ( Original Video Size )

                <video width="" height="" controls>
                    <source src="https://drive.google.com/uc?id=1d4pq03dXRFf0kn-VnNhr6aJZ1124Tg95&export" type="video/mp4">
                    Your browser does not support the video tag.
                </video>  

            </td>

            <td> 1250px * 1200px ( Oversize )  

                <video width="1250" height="1200" controls>
                    <source src="https://drive.google.com/uc?id=1d4pq03dXRFf0kn-VnNhr6aJZ1124Tg95&export" type="video/mp4">
                    Your browser does not support the video tag.
                </video>  

            </td>

            <td> 700px * 650px ( x 2 smaller  ) 

                <video width="700" height="650" controls>
                    <source src="https://drive.google.com/uc?id=1d4pq03dXRFf0kn-VnNhr6aJZ1124Tg95&export" type="video/mp4">
                    Your browser does not support the video tag.
                </video>    

            </td>

            <td>  500px * 450px ( x 3 smaller  )  

                <video width="500" height="450" controls>
                    <source src="https://drive.google.com/uc?id=1d4pq03dXRFf0kn-VnNhr6aJZ1124Tg95&export" type="video/mp4">
                    Your browser does not support the video tag.
                </video> 

            </td>

            
        </tr>
        
         
        <tr>
            <td> .webm </td>

            <td> <mark>95.5 - MB </mark> - 1920px * 1080px ( Original Video Size )

                <video width="" height="" controls>
                    <source src="https://drive.google.com/uc?id=16cs0_NU7TYolHopMCfsLOpHppgUexsW8&export" type="video/mp4">
                    Your browser does not support the video tag.
                </video>  

            </td>

            <td> 1250px * 1200px ( Oversize )  

                <video width="1250" height="1200" controls>
                    <source src="https://drive.google.com/uc?id=16cs0_NU7TYolHopMCfsLOpHppgUexsW8&export" type="video/mp4">
                    Your browser does not support the video tag.
                </video>  

            </td>

            <td> 700px * 650px ( x 2 smaller  ) 

                <video width="700" height="650" controls>
                    <source src="https://drive.google.com/uc?id=16cs0_NU7TYolHopMCfsLOpHppgUexsW8&export" type="video/mp4">
                    Your browser does not support the video tag.
                </video>    

            </td>

            <td>  500px * 450px ( x 3 smaller  )  

                <video width="500" height="450" controls>
                    <source src="https://drive.google.com/uc?id=16cs0_NU7TYolHopMCfsLOpHppgUexsW8&export" type="video/mp4">
                    Your browser does not support the video tag.
                </video> 

            </td>

            
        </tr>
     

    </table>
    
</body>




</html>