<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- --------------------------------------------------- -->
    <!-- FAVICONS                                            -->
    <!-- --------------------------------------------------- -->

  
    <link rel="apple-touch-icon" sizes="180x180" href="https://drive.google.com/uc?id=1gFhaQNu45nbh9wBItKEP231P6SFbX_Qf&export">
    <link rel="icon" type="image/png" sizes="32x32" href="https://drive.google.com/uc?id=1M36Ua_pbN3CztVrFdrRQv3td8XDn5eTk&export">
    <link rel="icon" type="image/png" sizes="16x16" href="https://drive.google.com/uc?id=15WtsxtC8U__g2gDAsaEZga__oCeqQvCP&export">

    <title>HTML - Table</title>

    
</head>
<body>

    <!-- -------------------------------------------- -->
    <!-- Table 01                                     -->
    <!-- -------------------------------------------- -->

    <h3>Table 01 - ( with border="1" ( not valid html form) ) - Simple Table with figcaption</h3>

    <figure>

        <table border="1">

            <thead>
                <tr>
                    <th>Time</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>8:00 - 9:00</td>
                    <td rowspan="2">German</td>
                    <td rowspan="2">Sport</td>
                    <td rowspan="2">Math</td>
                    <td rowspan="2">informatics</td>
                    <td rowspan="2">Englisch</td>
                </tr>

                <tr>
                    <td>9:00 - 10:00</td>
                </tr>


                <tr>
                    <td>10:00 - 11:00</td>
                    <td>Biology</td>
                    <td>Chemistry</td>
                    <td>Nature</td>
                    <td colspan="2"> german</td>
                   
                </tr>


            </tbody>


        </table>

        <figcaption> <br> <mark><i>table 1.0:</i></mark> &nbsp; <b>my table shedule </b></figcaption>



    </figure>      
    
    
    <br><br><br>

    <hr>

    <!-- -------------------------------------------- -->
    <!-- Table 02                                     -->
    <!-- -------------------------------------------- -->


    <h3>Table 02 - ( no html border -> vaild html ) - User List </h3>



    <table >

        <thead>
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Email</th>
                <th>last login</th>
                <th>role</th>
                <th>img</th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td>12345678</td>
                <td> elonspaceX </td>
                <td> elon.musk@tesla.com </td>
                <td> 02.01.2021</td>
                <td > guest</td>
                <td> 
                   
                    <img src="https://drive.google.com/uc?id=1CjDNCVENMHTP0PQeDNn5OxaEZ1SeIa0e&export" alt="img" width="100" height="100">

                </td>
            </tr>

            <tr>
                <td>23142321</td>
                <td> jezzibox </td>
                <td> jeff-bezos-space@amz.com </td>
                <td> 01.08.2021</td>
                <td> premium</td>
                <td> 
                 
                    <img src="https://drive.google.com/uc?id=1IvTos0qwQwfd8rVq3JX_xqTmDgpZuVSg&export" alt="img" width="100" height="100">

                </td>
            </tr>


            <tr>
                <td>123231412</td>
                <td> billy10 </td>
                <td> bill-corp@win.com </td>
                <td> 05.01.2021</td>
                <td> vip</td>
                <td> 
                    
                    <img src="https://drive.google.com/uc?id=1VCTrGVxSVuUB1Q1n4x8CHe0WdXYElvzf&export" alt="img" width="100" height="100">

                </td>
            </tr>


        </tbody>


    </table>

    <br><br><br>

    <hr>

    <!-- -------------------------------------------- -->
    <!-- Table 03                                     -->
    <!-- -------------------------------------------- -->

    <h3>Table 03 - Dashboard Table </h3>
    
    <table border="1">

        <thead>
            <tr>
                <th colspan="3">Server: Debian 2021 Distribution 10x - Acitvities </th>
            
            </tr>
        </thead>

        <tbody>

            <tr>
                <td>

                    <p><b>Last Activies 24h</b></p>

                    <ul>
                        <li>upgrade on new cloud system x12 - tiro </li>
                        <li>blocked 4 unauthorized activies on storage </li>
                        <li>+ 22 user adds </li>
                    </ul>


                </td>

                <td> 

                    <p><b>Top user payments </b></p>

                    <ol>
                        <li> chrisTar12 - 12.300 $ </li>
                        <li> luisaPowerX - 8.400 $ </li>
                        <li> juliaWeitmar9 - 3.400  $ </li>
                    </ol>

                </td>

                <td> 
                
                    <p><b>Server Status </b></p>

                    <p>is online for 12k hours </p>
                
                </td>


            
            </tr>

            <tr>
                <td>

                    <p><b>Active processes</b></p>

                    <ul>
                        <li>running tomcat </li>
                        <li>running 123 docker container </li>
                        <li>running 3 databases ( postgresql , sqlite , mysql ) </li>
                    </ul>

                </td>
                <td> [ no alarm ] </td>
                <td> [ no warnings ] </td>
              
               
            </tr>


            <tr>
                <td colspan="3">server problems ? ( 24h hotline ) - +49 123 1334 1234 </td>
              
               
            </tr>


        </tbody>


    </table>

    
</body>
</html>
