<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


     <!-- --------------------------------------------------- -->
    <!-- FAVICONS                                            -->
    <!-- --------------------------------------------------- -->

  
    <link rel="apple-touch-icon" sizes="180x180" href="https://drive.google.com/uc?id=1gFhaQNu45nbh9wBItKEP231P6SFbX_Qf&export">
    <link rel="icon" type="image/png" sizes="32x32" href="https://drive.google.com/uc?id=1M36Ua_pbN3CztVrFdrRQv3td8XDn5eTk&export">
    <link rel="icon" type="image/png" sizes="16x16" href="https://drive.google.com/uc?id=15WtsxtC8U__g2gDAsaEZga__oCeqQvCP&export">


    <title>HTML - Setting Form</title>
</head>
<body>

    <!-- -------------------------------------------- -->
    <!-- Registration 01                              -->
    <!-- -------------------------------------------- -->

    <h3>Setting Form ( e.g visualization )</h3>

    
    <!-- action is server script and post not to transfer over url -->
    <form enctype="multipart/form-data" method="post">


    <fieldset>


            <legend>Setting Form</legend>

            <p> Upload your working Excel - Document to check your own working statistic</p>

            <br><br>


            <table>

                <tr>
                    <td>

                        <h4>Checking of visualization of algos:</h4>

                        <input type="checkbox" name="algo" id="algo1">
                        <label for="algo1">Algo1 - xrt </label> <br>
                        
                        <input type="checkbox" name="algo" id="algo2">
                        <label for="algo2">Algo2 - morph </label> <br>
                        
            
                        <input type="checkbox" name="algo" id="algo3">
                        <label for="algo3">Algo3 - harix </label> 

                    </td>

                    <td>

                        <h4>Running Algo:</h4>

                        <input type="radio" name="run" id="low">
                        <label for="low">running low </label> <br>
                        
                        <input type="radio" name="run" id="rmedium">
                        <label for="rmedium">running medium </label> <br>
                        
            
                        <input type="radio" name="run" id="high">
                        <label for="high">running high performance </label>

                    </td>
                </tr>

                <tr>

                    <td colspan="2">

                        <h4>Dimension of values in algo ( 0 - 100% )</h4>

                        0 <input type="range" id="a" name="a" value="50">100
                      
                        
  

                    </td>

                </tr>


                <tr>

                    <td colspan="2">

                        <h4>Testing Time Area:</h4>

                        <input type="date" name="Startdate"> Start date:<br><br>  
                        <input type="date" name="Enddate"> End date:<br><br>  

                    </td>

                </tr>


                <tr>

                    <td colspan="2">

                        <h4>Choose Color for ur statistic:</h4>


                        <label for="ok">Info - ok </label>
                        <input type="color" id="ok" name="ok-color" value="#008B00">  &emsp;

                        <label for="warning">Info - warning </label>
                        <input type="color" id="warning" name="warning-color" value="#FFA500">  &emsp;

                        <label for="cri">Info - critical </label>
                        <input type="color" id="cri" name="cri-color" value="#ee0000">


                        
                

                    </td>

                </tr>


                <tr>

                    <td colspan="2">

                       <h4>Choose intensive routine check:</h4>

                       <select id="time-running" size="1">

                           <option id="one-day"> 1. Day </option>
                           <option id="two-days"> 2. Days </option>
                           <option id="one-week"> 1. Week </option>
                          
                       </select>

                    </td>

                </tr>

            </table>
            
            <br><br>

           


            <br><br>

            <input type="submit" id="btn-start-running" value=" start running">

        </form>
       

    </fieldset>


    
    
    
    <br><br><br>

    <hr>

  

  
    
</body>
</html>
